// color custom
$danger: #ff0025;
$success: #29823b;
$dark: #0c0c1e;
$black: #0c0c1e;
$light: #f7f9fc;
// button

// import bootstrap5
@import "../node_modules/bootstrap/scss/bootstrap.scss";
// Override Bootstrap's button styles
// ovverride margin //

// margin left
.mt-0 {
  margin-top: 0px !important;
}
.ms-1 {
  margin-top: 4px !important;
}
.ms-2 {
  margin-top: 8px !important;
}
.ms-3 {
  margin-top: 12px !important;
}
.ms-4 {
  margin-top: 16px !important;
}
.ms-5 {
  margin-top: 24px !important;
}
.ms-6 {
  margin-top: 26px !important;
}
.ms-7 {
  margin-top: 28px !important;
}
.ms-8 {
  margin-top: 32px !important;
}
.ms-9 {
  margin-top: 36px !important;
}
.ms-10 {
  margin-top: 40px !important;
}
// margin top
.mt-0 {
  margin-top: 0px !important;
}
.mt-1 {
  margin-top: 4px !important;
}
.mt-2 {
  margin-top: 8px !important;
}
.mt-3 {
  margin-top: 12px !important;
}
.mt-4 {
  margin-top: 16px !important;
}
.mt-5 {
  margin-top: 24px !important;
}
.mt-6 {
  margin-top: 26px !important;
}
.mt-7 {
  margin-top: 28px !important;
}
.mt-8 {
  margin-top: 32px !important;
}
.mt-9 {
  margin-top: 36px !important;
}
.mt-10 {
  margin-top: 40px !important;
}

// margin right
.me-0 {
  margin-top: 0px !important;
}
.me-1 {
  margin-top: 4px !important;
}
.me-2 {
  margin-top: 8px !important;
}
.me-3 {
  margin-top: 12px !important;
}
.me-4 {
  margin-top: 16px !important;
}
.me-5 {
  margin-top: 24px !important;
}
.me-6 {
  margin-top: 26px !important;
}
.me-7 {
  margin-top: 28px !important;
}
.me-8 {
  margin-top: 32px;
}
.me-9 {
  margin-top: 36px !important;
}
.me-10 {
  margin-top: 40px !important;
}
// margin bottom
.mb-0 {
  margin-top: 0px !important;
}
.mb-1 {
  margin-top: 4px !important;
}
.mb-2 {
  margin-top: 8px !important;
}
.mb-3 {
  margin-top: 12px !important;
}
.mb-4 {
  margin-top: 16px !important;
}
.mb-5 {
  margin-top: 24px !important;
}
.mb-6 {
  margin-top: 26px !important;
}
.mb-7 {
  margin-top: 28px !important;
}
.mb-8 {
  margin-top: 32px !important;
}
.mb-9 {
  margin-top: 36px !important;
}
.mb-10 {
  margin-top: 40px !important;
}
// -- Customize button bootstrap -- //
