// color custom
$danger: #ff0025;
$success: #29823b;
$secondary: #0c0c1e;
$primary: #ff0025;
$black: #0c0c1e;
$light: #f7f9fc;
// button

// import bootstrap5
@import "../node_modules/bootstrap/scss/bootstrap.scss";
