@use "../custom" as *;

footer {
  color: $white;
  margin-top: 64px;
  @include media-breakpoint-down(sm) {
    margin-top: 48px !important;
  }
  ul {
    li:nth-child(1) {
      color: white;
      font-size: 18px;
      font-weight: bold;
    }
    li {
      text-align: start;
      margin-top: 12px;

      a {
        color: white;
        font-size: 14px;
        font-weight: 300;
        text-decoration: none;

        &:hover {
          color: $yellow;
        }

        @include media-breakpoint-down(sm) {
          color: white;
          font-size: 12px !important;
          font-weight: 300 !important;
          text-decoration: none;
        }
      }
    }
  }
}
