@use "../custom" as *;
@use "../components/mixins" as *;

.jumbotron {
  h1 {
    position: absolute;
    top: 30%;
    left: 35%;
    line-height: 1.5;
    letter-spacing: 2px;
    color: $white;
    font-size: 64px;
  }
}

.custom-border {
  @include customBorder;
}
