// @use "../custom" as *;
// @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Work+Sans:wght@300;400;500;600;700&display=swap");

// /* start: Global */
// :root {
// }
// body {
//   font-family: "Work Sans", sans-serif;
// }

// /* start: Global */

// .sidebar {
//   background-color: #14142b !important;
// }

// .sidebar ul li a {
//   color: white;
// }
// /* start: Sidebar */
// .sidebar-overlay {
//   position: fixed;
//   top: 0;
//   left: 0;
//   bottom: 0;
//   right: 0;
//   background-color: rgba(0, 0, 0, 0.5);
//   z-index: 490;
//   opacity: 1;
//   visibility: visible;
//   transition: opacity 0.2s;
// }
// .sidebar.collapsed ~ .sidebar-overlay {
//   opacity: 0;
//   visibility: hidden;
// }
// .sidebar.collapsed:hover,
// .sidebar {
//   width: 16rem;
//   overflow-y: auto;
//   transition: width 0.2s, left 0.2s;
//   left: 0;
//   z-index: 500;
// }
// .sidebar.collapsed {
//   left: -16rem;
// }

// .sidebar-toggle {
//   cursor: pointer;
//   transition: 0.2s;
//   color: white;
// }

// .sidebar-menu {
//   list-style-type: none;
// }
// .sidebar-menu-item {
//   margin-bottom: 0.25rem;
// }
// .sidebar-menu-item a {
//   text-decoration: none;
//   display: flex;
//   align-items: center;
//   color: var(--bs-dark);
//   padding: 0.375rem 0.75rem;
//   border-radius: 0.375rem;
//   font-size: 0.875rem;
//   white-space: nowrap;
// }
// .sidebar-menu-item > a {
//   overflow: hidden;
// }
// .sidebar-menu-item.focused > a,
// .sidebar-menu-item > a:hover {
//   background-color: var(--bs-gray-200);
// }
// .sidebar-menu-item.active a {
//   background-color: var(--bs-indigo);
//   color: var(--bs-light);
//   box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.175);
// }
// .sidebar-menu-item-icon {
//   margin-right: 0.625rem;
//   font-size: 1.25rem;
// }
// .sidebar-menu-item-accordion {
//   transition: transform 0.2s;
// }
// .sidebar-dropdown-menu-item.focused > a .sidebar-menu-item-accordion,
// .sidebar-menu-item.focused > a .sidebar-menu-item-accordion {
//   transform: rotateZ(180deg);
// }
// .sidebar.collapsed:hover .sidebar-menu-divider,
// .sidebar-menu-divider {
//   font-size: 0.75rem;
//   color: var(--bs-gray-600);
//   transition: opacity 0.2s;
//   opacity: 1;
//   visibility: visible;
// }
// .sidebar-dropdown-menu-item a {
//   padding: 0.375rem 0;
//   padding-right: 0.75rem;
// }
// .sidebar-dropdown-menu-item.focused > a,
// .sidebar-dropdown-menu-item a:hover {
//   color: var(--bs-indigo);
// }
// .sidebar-dropdown-menu {
//   padding-left: 2rem;
// }
// .sidebar-dropdown-menu .sidebar-dropdown-menu {
//   padding-left: 1rem;
//   list-style-type: circle;
// }
// /* end: Sidebar */

// /* start: Main */
// main {
//   padding-left: 0;
//   min-height: 100vh;
//   font-family: "Poppins", sans-serif;
// }

// /* start: Navbar */
// nav {
//   display: flex;
//   align-items: center;
// }
// .navbar-profile-image {
//   width: 2.5rem;
//   height: 2.5rem;
//   object-fit: cover;
//   border-radius: 50%;
// }
// .navbar-link {
//   width: 2.5rem;
//   height: 2.5rem;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   border-radius: 0.25rem;
// }
// .navbar-link:hover {
//   background-color: var(--bs-gray-200);
// }
// /* end: Navbar */

// /* start: Suummary */
// .summary-icon {
//   width: 4rem;
//   height: 4rem;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   color: var(--bs-light);
//   font-size: 1.5rem;
//   border-radius: 50%;
// }
// .summary-primary,
// .summary-indigo,
// .summary-success,
// .summary-danger {
//   transition: 0.2s;
// }
// .summary-primary:hover,
// .summary-indigo:hover,
// .summary-success:hover,
// .summary-danger:hover {
//   color: var(--bs-light) !important;
// }
// .summary-primary:hover .summary-icon,
// .summary-indigo:hover .summary-icon,
// .summary-success:hover .summary-icon,
// .summary-danger:hover .summary-icon {
//   background-color: var(--bs-light) !important;
// }
// .summary-primary:hover .summary-icon {
//   color: var(--bs-primary) !important;
// }
// .summary-indigo:hover .summary-icon {
//   color: var(--bs-indigo) !important;
// }
// .summary-success:hover .summary-icon {
//   color: var(--bs-success) !important;
// }
// .summary-danger:hover .summary-icon {
//   color: var(--bs-danger) !important;
// }
// .summary-primary:hover {
//   background-color: var(--bs-primary) !important;
// }
// .summary-indigo:hover {
//   background-color: var(--bs-indigo) !important;
// }
// .summary-success:hover {
//   background-color: var(--bs-success) !important;
// }
// .summary-danger:hover {
//   background-color: var(--bs-danger) !important;
// }
// /* end: Suummary */
// /* end: Main */

// /* start: Breakpoints */
// /* X-Small devices (portrait phones, less than 576px) */
// /* No media query for `xs` since this is the default in Bootstrap */

// /* Small devices (landscape phones, 576px and up) */
// @media (min-width: 576px) {
// }

// /* Medium devices (tablets, 768px and up) */
// @media (min-width: 768px) {
//   /* start: Sidebar */
//   .sidebar-overlay {
//     opacity: 0;
//     visibility: hidden;
//   }
//   .sidebar.collapsed {
//     width: 4.75rem;
//     left: 0;
//   }
//   .sidebar.collapsed .sidebar-logo {
//     display: none;
//   }
//   .sidebar.collapsed:hover .sidebar-logo {
//     display: block;
//   }
//   .sidebar.collapsed:hover .sidebar-toggle {
//     margin-left: auto;
//     margin-right: 0;
//   }
//   .sidebar.collapsed .sidebar-toggle {
//     margin: 0 auto;
//     transform: rotateZ(180deg);
//   }
//   .sidebar.collapsed:hover .sidebar-menu-divider {
//     font-size: 0.75rem;
//     color: var(--bs-gray-600);
//     transition: opacity 0.2s;
//     opacity: 1;
//     visibility: visible;
//   }
//   .sidebar.collapsed .sidebar-menu-divider {
//     opacity: 0;
//     visibility: hidden;
//   }
//   /* end: Sidebar */

//   /* start: Main */
//   main {
//     transition: padding-left 0.2s;
//     padding-left: 16rem;
//   }
//   .sidebar.collapsed ~ main {
//     padding-left: 4.75rem;
//   }
//   /* end: Main */
// }
