@use "../custom" as *;
@use "../components/mixins" as *;

.jumbotron {
  @include jumbotron;
}
.menu {
  li {
    padding: 0 0.7rem;

    a {
      text-transform: capitalize;
      font-weight: 400;
      color: $white !important;
      font-size: 18px !important;

      &:hover {
        color: $yellow !important;
      }
    }
  }

  .disabled {
    color: $text-muted !important;
  }
}

.dropdown-text {
  li {
    a {
      color: $black !important;
    }
  }
}
