@use "../custom" as *;
@use "../components/mixins" as *;

main {
  margin-top: 64px;
  @include media-breakpoint-down(sm) {
    margin-top: 1px !important;
  }

  .popular {
    .container {
      margin-top: 60px;
      @include media-breakpoint-down(sm) {
        margin-top: 32px !important;
        margin-bottom: 64px !important;
      }
      h3 {
        @include media-breakpoint-down(sm) {
          font-size: 14px;
          font-weight: bold;

          span {
            @include customBorder;
          }
        }
      }

      a {
        @include media-breakpoint-down(sm) {
          font-size: 10px;
          font-weight: bold;
        }
      }
    }

    .card-custom {
      background-color: #f1f1f1;
      text-align: center;
      padding: 22px 22px;
      height: 280px;
      border-radius: $border-radius-xl;
      inset: 1px;

      @include media-breakpoint-down(sm) {
        background-color: #f1f1f1;
        text-align: center;
        padding: 12px;
        height: 160px;
        width: 240px;
        margin: 32px auto;
        border-radius: $border-radius-xl;
        inset: 1px;
      }
      figure {
        font-size: 24px;
        font-weight: bold;

        @include media-breakpoint-down(sm) {
          font-size: 14px;
          font-weight: bold;
        }
      }

      img {
        width: 160px !important;
        height: 220px !important;
        filter: grayscale(100%);
        aspect-ratio: 3/4;
        &:hover {
          filter: grayscale(0);
          transition: transform 0.5s;
          transform: translate(0, -12px);
          opacity: 100;
        }

        @include media-breakpoint-down(sm) {
          width: 80px !important;
          height: 100px !important;
          filter: grayscale(100%);

          &:hover {
            filter: grayscale(0);
            transition: transform 0.5s;
            transform: translate(0, -12px);
            opacity: 100;
          }
        }
      }
      p {
        font-size: 14px;
        font-weight: 500;
        @include media-breakpoint-down(sm) {
          font-size: 8px;
          font-weight: 500;
        }
      }
    }
  }
}
