@use "../custom" as *;

// spacing table and customize padding and margin following tempates on figma
.table-spacing {
  border-collapse: separate;
  border-spacing: 0 15px !important;

  th,
  td {
    font-size: 14px !important;
    padding: 28px 16px !important;
    font-weight: 500;
    line-height: 20px;
    align-self: center;
    align-items: center;
  }
}

// key driver tables styling
.KeyDriversTable tr th {
  opacity: 0;
}

.KeyDriversTable tr td:nth-child(2) {
  border-radius: 24px 0 0 24px !important;
}

.KeyDriversTable tr td:last-child {
  border-radius: 0 24px 24px 0 !important;
}
