@use "../custom" as *;

.table-spacing {
  border-collapse: separate;
  border-spacing: 0 15px !important;

  th,
  td {
    font-size: 14px !important;
    padding: 28px 16px !important;
    font-weight: 500;
    line-height: 20px;
    align-self: center;
    align-items: center;
  }

  tr td:nth-child(1) {
    border-radius: 16px 0px 0 16px;
  }
  tr td:nth-child(3) {
    align-self: center;
    justify-content: center;
  }
  tr td:nth-child(4) {
    align-self: center;
    justify-content: center;
  }
  tr td:nth-child(5) {
    align-self: center;
    justify-content: center;
  }
  tr td:nth-child(6) {
    align-self: center;
    justify-content: center;
  }
  tr td:nth-child(7) {
    border-radius: 0 16px 16px 0;
    align-self: center;
    justify-content: center;
  }

  thead,
  tr,
  th:nth-child(1) {
    width: 212px !important;
  }
  thead,
  tr,
  th:nth-child(2) {
    width: 220px !important;
  }
  thead,
  tr,
  th:nth-child(3) {
    width: 180px !important;
  }
  thead,
  tr,
  th:nth-child(4) {
    width: 124px !important;
  }
  thead,
  tr,
  th:nth-child(5) {
    width: 166px !important;
  }
  thead,
  tr,
  th:nth-child(6) {
    width: 166px !important;
  }
  thead,
  tr,
  th:nth-child(7) {
    width: 138px !important;
  }
}
.dataTables_length,
.dataTables_filter {
  display: none !important;
}

.dataTables_info {
  display: none;
}

.dataTables_paginate {
  justify-content: center !important;
  text-align: center !important;
}
table.dataTable thead > tr > th.sorting_asc:before,
table.dataTable thead > tr > th.sorting_desc:after,
table.dataTable thead > tr > td.sorting_asc:before,
table.dataTable thead > tr > td.sorting_desc:after {
  opacity: 1;
  color: #000;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
  /* margin:2px 0; */
  white-space: nowrap;
  justify-content: start !important;
}
