@use "../custom" as *;

// spacing input and customize padding and margin following tempates on figma

.select-input {
  margin-bottom: 16px;
  label {
    margin-bottom: 8px;
  }

  select {
    padding: 14px !important;
    border-radius: 16px !important;
    gap: 8px;
  }

  .form-select:focus {
    border: red 2px solid !important;
    border-color: red 2px !important;
  }
}
