@use "../custom" as *;

@mixin jumbotron {
  background-image: url(/img/jumbotron.png) !important;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @include media-breakpoint-down(sm) {
    height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@mixin customBorder {
  border-bottom: 8px solid #f6b50e;

  @include media-breakpoint-down(sm) {
    border-bottom: 4px solid #f6b50e;
  }
}
